input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
  filter: drop-shadow(2px 2px 2px);
  margin: 1rem;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
